
$light: lightblue;
$med: blue;
$dark: darkblue;



body {
    background: white;
    text-align: center;
    font: 12px Helvetica, Arial, sans-serif;
}

main {
    background: linear-gradient( to right, $med, $dark );
    color: white;
}

footer {
    background: linear-gradient( to right, $dark, $med );
    color: white;
}

a {
    color: $light;
}



.l_split {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}



.controls {
    background: linear-gradient( to right, $dark, $med );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .5em;
}

.panel > div {
    cursor: default;
}

.detail {
    position: sticky;
    top: 10vh;
    background: linear-gradient( to right, $dark, $med );
    padding: 1em 1em 1em 1em;
}

.chart {
    background: linear-gradient( to right, $dark, $med );
    table-layout: fixed;
    border-collapse: collapse;
    cursor: default;
}

.slice {
    margin: .05em .4em .05em .4em;

    > .slice_day {
	text-align: center;
    }
    > .slice_time {
	text-align: right;
    }
    > .slice_temp {
	padding-left: 1em;
	text-align: left;
    }
    > .slice_description {
	text-align: center;
    }
    > .slice_icon {
	text-align: center;
    }
}



.panel > div:hover {
    background: $dark;
}

.slice:hover {
    background: linear-gradient( to right, $med, $light );
}
